.aircraft-details-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  padding: 16px;
}

.card-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.card-content {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 16px; /* Adjust margin as needed */
}

.card-media {
  width: 100%;
  height: auto;
  max-height: 200px; /* Adjust max-height as needed */
}

.close-button {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background-color: transparent;
  border: none;
  color: red; /* Change color as needed */
  font-size: 20px;
  cursor: pointer;
}

.close-button:hover {
  color: darkred; /* Change color as needed */
}

/* Media queries for responsiveness */
@media (min-width: 600px) {
  .card-content-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .card-content {
    margin-right: 16px; /* Adjust margin as needed */
    margin-bottom: 0;
  }

  .card-media {
    flex: 0 0 200px;
  }
}
