#root {
  max-width: 90%; /* Set max-width to 90% of the viewport width */
  margin: 0 auto; /* Center horizontally */
  padding: 2rem;
  text-align: center;
}

/* Media queries for responsiveness
@media screen and (min-width: 768px) {
  #root {
    max-width: 80%; /* Reduce max-width for tablets and larger devices */
  /* }
}

@media screen and (min-width: 1024px) {
  #root {
    max-width: 70%; /* Reduce max-width for desktops and larger devices */
 